/* ELEMENTS: Link */

a {
    color: var(--global-color-accent--normal);

    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline dashed;
}
a:disabled {
    pointer-events: none;
    cursor: default;

    color: var(--global-color-primary--dark);

    opacity: 0.5;
}
