/* BEM: The "block" is the component itself */
/* Here are styles for the component root */
._ {
  composes: o-app--layout-horz from '/../src/styles/objects/o-app.css';
}

/* BEM: Here are the child "elements" */
.sidebar {
  composes: o-app__side from '/../src/styles/objects/o-app.css';
}
.content {
  composes: o-app__body from '/../src/styles/objects/o-app.css';
}
